In [24]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import os
# Import the API key.
from config import g_key
import matplotlib.pyplot as plt

In [25]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Castro,BR,2022-07-14 20:17:57,-24.7911,-50.0119,67.78,63,43,6.13
1,1,Shakawe,BW,2022-07-14 20:17:57,-18.3667,21.8500,57.02,37,0,5.59
2,2,College,US,2022-07-14 20:17:58,64.8569,-147.8028,65.59,39,75,9.22
3,3,Bluff,NZ,2022-07-14 20:17:58,-46.6000,168.3333,37.80,87,100,14.50
4,4,Tucurui,BR,2022-07-14 20:17:58,-3.7661,-49.6725,85.53,64,78,0.72

In [4]:
# Get the data types

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [26]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
# fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations)
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent Wind  Speed
locations = city_data_df[["Lat", "Lng"]]
wind   = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Tucurui,BR,2022-07-14 20:17:58,-3.7661,-49.6725,85.53,64,78,0.72
14,14,Georgetown,MY,2022-07-14 20:15:12,5.4112,100.3354,80.53,88,20,0.00
22,22,Hithadhoo,MV,2022-07-14 20:18:03,-0.6000,73.0833,83.44,74,100,13.87
23,23,Butaritari,KI,2022-07-14 20:18:03,3.0707,172.7902,81.81,80,50,17.54
27,27,Acapulco,MX,2022-07-14 20:18:05,16.8634,-99.8901,87.62,66,40,3.44
30,30,Kalmunai,LK,2022-07-14 20:18:06,7.4167,81.8167,80.06,64,78,4.36
32,32,Jamestown,US,2022-07-14 20:18:06,42.0970,-79.2353,78.53,49,0,6.91
35,35,Albany,US,2022-07-14 20:13:47,42.6001,-73.9662,83.05,46,57,1.99
40,40,Gizo,SB,2022-07-14 20:18:08,-8.1030,156.8419,80.91,74,27,7.81
41,41,Santiago De Cuba,CU,2022-07-14 20:18:08,20.0247,-75.8219,87.91,66,40,8.05

In [14]:
preferred_cities_df.count()

City_ID       204
City          204
Country       204
Date          204
Lat           204
Lng           204
Max Temp      204
Humidity      204
Cloudiness    204
Wind Speed    204
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
4            Tucurui      BR     85.53  -3.7661  -49.6725
14        Georgetown      MY     80.53   5.4112  100.3354
22         Hithadhoo      MV     83.44  -0.6000   73.0833
23        Butaritari      KI     81.81   3.0707  172.7902
27          Acapulco      MX     87.62  16.8634  -99.8901
30          Kalmunai      LK     80.06   7.4167   81.8167
32         Jamestown      US     78.53  42.0970  -79.2353
35            Albany      US     83.05  42.6001  -73.9662
40              Gizo      SB     80.91  -8.1030  156.8419
41  Santiago De Cuba      CU     87.91  20.0247  -75.8219

In [16]:
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/output?parameters"

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # print(f'Index:{index}, Row:{row}')
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    try:
        # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print(f"Hotel not found... skipping., index:{index}")

Hotel not found... skipping., index:35
Hotel not found... skipping., index:163
Hotel not found... skipping., index:236
Hotel not found... skipping., index:237
Hotel not found... skipping., index:265
Hotel not found... skipping., index:347
Hotel not found... skipping., index:360
Hotel not found... skipping., index:400
Hotel not found... skipping., index:452
Hotel not found... skipping., index:501
Hotel not found... skipping., index:539
Hotel not found... skipping., index:580

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Tucurui,BR,85.53,-3.7661,-49.6725,BBB Rooms Centro Tucurui PA
14,Georgetown,MY,80.53,5.4112,100.3354,Cititel Penang
22,Hithadhoo,MV,83.44,-0.6000,73.0833,Scoop Guest House
23,Butaritari,KI,81.81,3.0707,172.7902,Isles Sunset Lodge
27,Acapulco,MX,87.62,16.8634,-99.8901,HS Hotsson Smart Acapulco
30,Kalmunai,LK,80.06,7.4167,81.8167,VS Villa
32,Jamestown,US,78.53,42.0970,-79.2353,Hampton Inn & Suites Jamestown
35,Albany,US,83.05,42.6001,-73.9662,
40,Gizo,SB,80.91,-8.1030,156.8419,Imagination Island
41,Santiago De Cuba,CU,87.91,20.0247,-75.8219,Cubanacan San Felix

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

IndexError: list index out of range

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # print(f'Index:{index}, Row:{row}')
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    try:
        # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print(f"Hotel not found... skipping., index:{index}")

Hotel not found... skipping., index:35
Hotel not found... skipping., index:163
Hotel not found... skipping., index:236
Hotel not found... skipping., index:237
Hotel not found... skipping., index:265
Hotel not found... skipping., index:347
Hotel not found... skipping., index:360
Hotel not found... skipping., index:400
Hotel not found... skipping., index:452
Hotel not found... skipping., index:501
Hotel not found... skipping., index:539
Hotel not found... skipping., index:580

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

# hotel marker with names
# marker_layer = gmaps.marker_layer(locations)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))